@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:ital,wght@0,600;0,700;1,600;1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter' !important;
}

.nav-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;

    color: #0D0A19;

    margin-left: 20px;
}

.signup {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;

    color: #9A9EA7;

}

.signup img {
    background: #F5F6F7;
    border-radius: 10px;
    width: 30px;
    height: 25px;
    padding: 5px 6px;
    margin-right: 5px;
}


.section1 {
    background-image: url("/img/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}

.section1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    letter-spacing: -0.304762px;

    color: #FFFFFF;
    padding-top: 100px;
}

.section {
    color: white;
}

.section1P {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

    margin-top: 15px;
}

.topFooterSection {
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
    border-radius: 8px;
    max-width: 945px;
    height: 80px;
    position: absolute;
    margin: 0px auto;
    bottom: -30px;
    left: 50%;
    z-index: 99;
    width: 98%;
    transform: translate(-50%);
}

.topFooterSection p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}

.form-select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    border: none;
    margin-top: -15px;
}

.withoutP {
    margin-top: 45px;
}

.headerButton {
    background: #7963F0;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    margin-top: 25px;
    padding: 10px 20px 10px 20px;
}

.headerButton img {
    margin-right: 10px;
}

.headerButton:hover {
    background: #a59ae3;
}

.borderRight {
    border-right: 1px solid rgba(153, 155, 168, 0.15);
    height: 30%;
}

/* section 2  ----- Car Logos*/
.car__logos {
    margin-top: 120px;
    margin-bottom: 100px;
}

/* section 3 ----- cars card */
.cars__card h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    text-align: center;
    margin-bottom: 50px;
}

.cars__card h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0D0A19;
    margin-top: 10px;
}

.cars__card p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}

.button1 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), #7963f0 !important;
    color: #7963f0 !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
}

.button2 {
    background-color: #f5f6f7 !important;
    color: #9a9ea7 !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
}

.card {
    border: none;
}

/* section 4 ---- findCar__Section */
.findcarHeader {
    width: 98%;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
}

.findCar__Section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.findCar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #0D0A19;
}

.arrowArea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #9A9EA7;
    margin-top: 10px;
}

.arrowArea img {
    background: #F5F6F7;
    border-radius: 10px;
    padding: 15px;
}

header p span {
    margin: 0px 5px;
    width: 30px;
    height: 30px;
}

.carName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #0D0A19;
}

.proBTN {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), #7963f0 !important;
    color: #7963f0 !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
}

.basicBTN {
    background-color: #f5f6f7 !important;
    color: #9a9ea7 !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
}

.product {
    min-width: 25%;
    margin: 0 20px 50px 0px;
    position: relative;
    left: 0px;
    transition: 0.5s;
}



/* making responsive  */
@media all and (max-width:767px) {
    .section1 h1 {
        font-size: 38px;
    }

    .section1P {
        font-size: 16px;
    }

    .topFooterSection {
        height: 100px;
    }

    .headerButton {
        width: 95%;
        padding: 17px 0;
    }

    .car__logos {
        margin-top: 320px;
    }

    .car__logos img {
        margin-top: 15px;
    }

    .cars__card .card {
        margin-bottom: 25px;
    }
}